#aboutme {
   text-align: center;
}
.aboutme-section-description {
    text-align: justify;
    margin-top: 40px;
}
.aboutme-icons {
   font-size: 29PX;
    margin-top: 45px;
}
.aboutme-icon {
    margin: 5px;
    color: var(--titleSectionSecondaryColor)
}
.aboutme-icon:hover {
    color: var(--titleSectionTertiaryColor);
    cursor: pointer;
}