h1 {
    color: blue;
}
button:hover {
    background-color:green;
    cursor: pointer;
    font-size: 20px;
}
#title {
    border: solid white 0px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    }